.row{
    float: left;
    width: 75%;
}

.col{
    float: left;
    position: relative;
    width: 20%;
    padding: 0 4px;
}

.col img{
    vertical-align: middle;
    width: 100%;
    margin-top: 8px;
    height: 20vw;
}

.text-img a{
    position: absolute;
    padding: 20px;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-decoration: none;
    width: 95.9%;
}

body{
    background-color: grey;
}