body{
    background-color: grey;
}
    /* Form */
.form-movie *{
    box-sizing: border-box;
}

.form-movie{
    background-color: #24303c;
    color: white;
    width: 75%;
    padding: 30px;
    margin: auto;
    margin-top: 80px;
    border-radius: 4px;
    font-family: 'calibri';
    box-shadow: 7px 13px 37px #000;
}

    /* Form title */
.form-movie h4 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

    /* Form inputs */
.movie-data {
    width: 100%;
    background: inherit;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

    /* Form columns */
.inline-data{
    margin-left: 5px;
    width: 44%;
    float: left;
}

    /* Right form div */
.right-form{
    margin-left: 50px;
}

.movie-data[type=file]{
    border: none;
    margin-left: -10px;
}

    /* Genres div */
#genres{
    margin-bottom: 20px;
}

.genre-label{
    margin-right: 10px;
    margin-left: 4px;
}

    /* Rating input */
.movie-data[type=number]{
    margin-top: 10px;
}

    /* Form button */
.form-movie button {
    width: 100%;
    background: #1f53c5;
    border: none;
    border-radius: 4px;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
}

    /* Form text */
.form-movie p {
    font-size: 18px;
    line-height: 40px;
}

    /* Form image and published text */
.margin-top-error{
    margin-top: -12px;
}

    /* Form required fields */
.error{
    color: red;
    display: block;
}

    /* Info: how to introduce actors */
.info{
    display: inline-block;
}

.info-box{
    width: 25%;
    display: none;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 5px;
    color: black;
    background-color: white;
    box-shadow: 10px -8px 9px #1c1b1c;
    position: absolute;
}

#info-btn:hover + #actors-info{
    display: block;
}

#info-director:hover + #directors-info{
    display: block;
}

#required-fields-text{
    margin-bottom: 10px;
    margin-left: 5px;
}

.platform-options{
    color: black;
}

textarea{
    resize: none;
}